* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

html, body {
    width: 100%;
    height: 100%;
}

#mobilnav {
    text-align: right;
    border-bottom: 1px solid black;
    display: none;
}

#pcnav {
    width: 100%;
    border-bottom: 1px solid black;
    display: block;
}

#menu {
    width: 100%;
    font-size: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    width: 25%;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

li:hover {
    background-color: lightgray;
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
    #mobilnav {
        display: block;
        padding: 5px;
    }
    #hamburger {
        font-size: 20px;
        margin-right: 5px;
    }
    li {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
    }
    #pcnav {
        border: 0;
        display: none;
    }
}